body {
    /* width: 100vw;
    height: 100vw;
    background: black;
    padding: 1%;
    overflow: hidden; */
  }
  
  #cloud-circle {
      width: 500px;
      height: 275px;
      border-radius: 50%;
      filter: url(#filter);
      box-shadow: 400px 400px 70px 0px #000000;
      position: absolute;
      top: -320px;
      left: -320px;
  }